@if (hero) {
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="hero.name"
           placeholder="name">
  </div>
  <div>
    <label for="attack">Attaque : </label>
    <input id="attack" [(ngModel)]="hero.attack"
           placeholder="attack">
  </div>
  <div>
    <label for="dodging">Esquive : </label>
    <input id="dodging" [(ngModel)]="hero.dodging"
           placeholder="dodging">
  </div>
  <div>
    <label for="damage">Damage : </label>
    <input id="damage" [(ngModel)]="hero.damage"
           placeholder="damage">
  </div>
  <div>
    <label for="hp">Points de vie : </label>
    <input id="hp" [(ngModel)]="hero.hp"
           placeholder="hp">
  </div>

  <button type="button" (click)="goBack()">go back</button>
}
